<%= labelled_form_for [@project, @redmine_gestao_mp_risk] do |f| %>
	<%= error_messages_for 'redmine_gestao_mp_risk' %>
	<div class="box tabular settings">

		<p>
			<%= f.select :redmine_gestao_mp_risk_type_id, options_from_collection_for_select(RedmineGestaoMpRiskType.all, :id, :title, f.object.redmine_gestao_mp_risk_type_id), {required: true, include_blank: t('redmine_gestao_mp_select_prompt')} %>
		</p>

		<p><%= f.text_field :title, required: true, size: 60 %></p>
		<p><%= f.text_area :description, :rows => 8, :class => 'wiki-edit' %></p>

		<p >
			<%= f.select :redmine_gestao_mp_risk_probability_id, options_from_collection_for_select(RedmineGestaoMpRiskProbability.all, :id, :display_title, f.object.redmine_gestao_mp_risk_probability_id), {required: true, include_blank: t('redmine_gestao_mp_select_prompt')} %>
		</p>

		<p >
			<%= f.select :redmine_gestao_mp_risk_impact_id, options_from_collection_for_select(RedmineGestaoMpRiskImpact.all, :id, :display_title, f.object.redmine_gestao_mp_risk_impact_id), {required: true, include_blank: t('redmine_gestao_mp_select_prompt')} %>
		</p>

		<p >
			<%= f.select :redmine_gestao_mp_risk_strategy_id, options_from_collection_for_select(RedmineGestaoMpRiskStrategy.where(id: 0), :id, :title, f.object.redmine_gestao_mp_risk_strategy_id), {required: true, include_blank: t('redmine_gestao_mp_risks_select_risk_type_prompt')}, {"data-selected": f.object.redmine_gestao_mp_risk_strategy.try(:id)} %>
		</p>


	</div>

	<%= submit_tag l(:button_save) %>
	<%= link_to l('button_cancel'), project_redmine_gestao_mp_risks_path(@project) %>
<% end %>